﻿@page "/authoredit/{id}"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add a Author</h3>

@if (_author == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@_author" OnValidSubmit="EditAuthor">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="TitleControl">Title</label>
            <InputText ValueExpression="() => _author.Name" @bind-value="_author.Name" class="form-control" id="TitleControl" placeholder="Awesome Book Title" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>

    </EditForm>
}



@code {
    private Author _author;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _author = await Http.GetFromJsonAsync<Author>("Author/" + Id);
    }

    private async Task EditAuthor()
    {
        await Http.PutAsJsonAsync<Author>("Author", _author);
        NavigationManager.NavigateTo("/author");
    }
}
