@page "/author"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Authors</h1>

@if (_authors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @if (ShowMessage)
        {
            <div class="d-inline p-2 bg-danger text-white">It's not possible to delete an author with books associated!</div>
            <div class="d-inline">
                <button type="button" @onclick="HideModal" class="btn btn-outline-secondary btn-sm">Hide</button>
            </div>
        }
        <button type="button" @onclick="addAuthor" class="btn btn-outline-primary float-right">Add Author</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th><span class="float-right">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in _authors)
            {
                <tr>
                    <td>@author.Name</td>
                    <td>
                        <button type="button" @onclick="@(e => delAuthor(author.Id))" class="btn btn-outline-danger float-right">Delete</button>
                        <button type="button" @onclick="@(e => editAuthor(author.Id))" class="btn btn-outline-primary float-right">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private Author[] _authors;

    private bool ShowMessage = false;

    protected override async Task OnInitializedAsync()
    {
        _authors = await Http.GetFromJsonAsync<Author[]>("Author");
    }

    private async Task delAuthor(int id)
    {
        if (await validateDelete(id))
        {
            await Http.DeleteAsync("Author/" + id.ToString());
            _authors = await Http.GetFromJsonAsync<Author[]>("Author");
        }
        else
        {
            ShowMessage = true;

        }
    }

    private void addAuthor()
    {
        NavigationManager.NavigateTo("/authoradd");
    }

    private async Task<bool> validateDelete(int authorId)
    {
        var books = await Http.GetFromJsonAsync<Book[]>("/Book");
        return !books.Where(x => x.AuthorId == authorId).Any();
    }

    private void editAuthor(int authorId)
    {
        NavigationManager.NavigateTo("/authoredit/" + authorId.ToString());
    }

    private void HideModal()
    {
        ShowMessage = false;
    }
}
