﻿@page "/authoradd"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add a Author</h3>

<EditForm Model="@_author" OnValidSubmit="AddAuthor">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="TitleControl">Title</label>
        <InputText ValueExpression="() => _author.Name" @bind-value="_author.Name" class="form-control" id="TitleControl" placeholder="Awesome Book Title" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </div>

</EditForm>

@code {
    private Author _author = new Author();

    private async Task AddAuthor()
    {
        await Http.PostAsJsonAsync<Author>("Author", _author);
        NavigationManager.NavigateTo("/author");
    }
}
