@page "/book"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager


<h1>Books</h1>

@if (_books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <button type="button" @onclick="addBook" class="btn btn-outline-primary float-right">Add Book</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th><span class="float-right">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in _books)
            {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author.Name</td>
                <td>@book.Publisher.Name</td>
                <td>
                    <button type="button" @onclick="@(e => delBook(book.Id))" class="btn btn-outline-danger float-right">Delete</button>
                    <button type="button" @onclick="@(e => editBook(book.Id))" class="btn btn-outline-primary float-right">Edit</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Book[] _books;

    protected override async Task OnInitializedAsync()
    {
        _books = await Http.GetFromJsonAsync<Book[]>("book");
        //var resp = await Http.GetAsync("Book");
        //var json = await resp.Content.ReadAsStringAsync();
        //_books = JsonSerializer.Deserialize<IEnumerable<Book>>(json).ToArray();
    }

    private void addBook()
    {
        NavigationManager.NavigateTo("/bookadd");
    }

    private async Task delBook(int id)
    {
        await Http.DeleteAsync("Book/" + id.ToString());
        _books = await Http.GetFromJsonAsync<Book[]>("book");
    }

    private void editBook(int bookId)
    {
        NavigationManager.NavigateTo("/bookedit/" + bookId.ToString());
    }

}
