﻿@page "/bookadd"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add a Book</h3>

<EditForm Model="@_book" OnValidSubmit="AddBook">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="TitleControl">Title</label>
        <InputText type="text" ValueExpression="() => _book.Title" @bind-value="_book.Title" class="form-control" id="TitleControl" placeholder="Awesome Book Title" />
    </div>
    <div class="form-group">
        <label for="AuthorControl">Authors</label>
        <InputSelect class="form-control" @bind-Value="_authorId">
            @if (_authors != null)
            {
                @foreach (var aut in _authors)
                {
                    <option value="@aut.Id.ToString()">@aut.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="AuthorControl">Publishers</label>
        <InputSelect class="form-control" @bind-Value="_publisherId">
            @if (_publishers != null)
            {
                @foreach (var pub in _publishers)
                {
                    <option value="@pub.Id.ToString()">@pub.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </div>

</EditForm>

@code {
    private Book _book = new Book();
    private string _authorId = "";
    private string _publisherId = "";
    private Author[] _authors;
    private Publisher[] _publishers;

    protected override async Task OnInitializedAsync()
    {
        await loadAuthors();
        await loadPublishers();
    }

    private async Task loadAuthors()
    {
        _authors = await Http.GetFromJsonAsync<Author[]>("Author");
        if (_authors != null)
        {
            _authorId = _authors.FirstOrDefault().Id.ToString();
        }
    }

    private async Task loadPublishers()
    {
        _publishers = await Http.GetFromJsonAsync<Publisher[]>("Publisher");
        if (_publishers != null)
        {
            _publisherId = _publishers.FirstOrDefault().Id.ToString();
        }
    }

    private async Task AddBook()
    {
        _book.PublisherId = Convert.ToInt32(_publisherId);
        _book.AuthorId = Convert.ToInt32(_authorId);
        await Http.PostAsJsonAsync<Book>("Book", _book);
        NavigationManager.NavigateTo("/book");
    }
}
