﻿@page "/bookedit/{id}"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add a Book</h3>

@if (_book == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@_book" OnValidSubmit="EditBook">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="TitleControl">Title</label>
            <InputText type="text" ValueExpression="() => _book.Title" @bind-value="_book.Title" class="form-control" id="TitleControl" placeholder="Awesome Book Title" />
        </div>
        <div class="form-group">
            <label for="AuthorControl">Authors</label>
            <InputSelect class="form-control" @bind-Value="_authorId">
                @if (_authors != null)
                    {
                    @foreach (var aut in _authors)
                        {
                        <option value="@aut.Id.ToString()">@aut.Name</option>
                        }
                    }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="AuthorControl">Publishers</label>
            <InputSelect class="form-control" @bind-Value="_publisherId">
                @if (_publishers != null)
                    {
                    @foreach (var pub in _publishers)
                        {
                        <option value="@pub.Id.ToString()">@pub.Name</option>
                        }
                    }
            </InputSelect>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>

    </EditForm>
}

@code {
    private Book _book;
    private string _authorId = "";
    private string _publisherId = "";
    private Author[] _authors;
    private Publisher[] _publishers;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await loadAuthors();
        await loadPublishers();
        _book = await Http.GetFromJsonAsync<Book>("Book/" + Id);
        _authorId = _book.AuthorId.ToString();
        _publisherId = _book.PublisherId.ToString();
    }

    private async Task loadAuthors()
    {
        _authors = await Http.GetFromJsonAsync<Author[]>("Author");
        if (_authors != null)
        {
            _authorId = _authors.FirstOrDefault().Id.ToString();
        }
    }

    private async Task loadPublishers()
    {
        _publishers = await Http.GetFromJsonAsync<Publisher[]>("Publisher");
        if (_publishers != null)
        {
            _publisherId = _publishers.FirstOrDefault().Id.ToString();
        }
    }

    private async Task EditBook()
    {
        _book.PublisherId = Convert.ToInt32(_publisherId);
        _book.AuthorId = Convert.ToInt32(_authorId);
        await Http.PutAsJsonAsync<Book>("Book", _book);
        NavigationManager.NavigateTo("/book");
    }
}
