﻿@page "/publisheredit/{id}"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Edit a Publisher</h3>

@if (_publisher == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@_publisher" OnValidSubmit="EditPublisher">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="TitleControl">Title</label>
            <InputText type="text" ValueExpression="() => _publisher.Name" @bind-value="_publisher.Name" class="form-control" id="TitleControl" placeholder="Awesome Book Title" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>

    </EditForm>
}


@code {
    [Parameter]
    public string Id { get; set; }

    private Publisher _publisher;

    protected override async Task OnInitializedAsync()
    {
        _publisher = await Http.GetFromJsonAsync<Publisher>("Publisher/" + Id);
    }

    private async Task EditPublisher()
    {
        await Http.PutAsJsonAsync<Publisher>("Publisher", _publisher);
        NavigationManager.NavigateTo("/publisher");
    }
}
