@page "/publisher"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Publishers</h1>

@if (_publishers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @if (ShowMessage)
        {
            <div class="d-inline p-2 bg-danger text-white">It's not possible to delete a publisher with books associated!</div>
            <div class="d-inline">
                <button type="button" @onclick="HideModal" class="btn btn-outline-secondary btn-sm p">Hide</button>
            </div>
        }
        <button type="button" @onclick="addPublisher" class="btn btn-outline-primary float-right">Add Publisher</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th><span class="float-right">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publisher in _publishers)
            {
            <tr>
                <td>@publisher.Name</td>
                <td>
                    <button type="button" @onclick="@(e => delPublisher(publisher.Id))" class="btn btn-outline-danger float-right">Delete</button>
                    <button type="button" @onclick="@(e => editPublisher(publisher.Id))" class="btn btn-outline-primary float-right">Edit</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private Publisher[] _publishers;
    private bool ShowMessage = false;

    protected override async Task OnInitializedAsync()
    {
        _publishers = await Http.GetFromJsonAsync<Publisher[]>("Publisher");
    }

    private async Task delPublisher(int id)
    {
        if (await validateDelete(id))
        {
            await Http.DeleteAsync("Publisher/" + id.ToString());
            _publishers = await Http.GetFromJsonAsync<Publisher[]>("Publisher");
        }
        else
        {
            ShowMessage = true;
        }
    }

    private void addPublisher()
    {
        NavigationManager.NavigateTo("/publisheradd");
    }

    private void editPublisher(int publisherId)
    {
        NavigationManager.NavigateTo("/publisheredit/"+ publisherId.ToString());
    }

    private async Task<bool> validateDelete(int publisherId)
    {
        var books = await Http.GetFromJsonAsync<Book[]>("/Book");
        return !books.Where(x => x.PublisherId == publisherId).Any();
    }

    private void HideModal()
    {
        ShowMessage = false;
    }

}
