﻿@page "/publisheradd"
@using BookLibrary.Shared
@using BookLibrary.Shared.Entities
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add a Publisher</h3>

<EditForm Model="@_publisher" OnValidSubmit="AddPublisher">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="TitleControl">Title</label>
        <InputText type="text" ValueExpression="() => _publisher.Name" @bind-value="_publisher.Name" class="form-control" id="TitleControl" placeholder="Awesome Book Title" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </div>

</EditForm>

@code {
    private Publisher _publisher = new Publisher();

    private async Task AddPublisher()
    {
        await Http.PostAsJsonAsync<Publisher>("Publisher", _publisher);
        NavigationManager.NavigateTo("/publisher");
    }
}
